.idea
target
__pycache__
*.iml
.DS_Store
**TestPreparingToServe.java
*.pyc
telepresence.log
.DS_Store
*__pycache__/
*~
*.pyc
*.idea/
personal_config.sh
build/
*.egg-info
dist/
log/
push_to_gitlab.sh
push_to_github.sh
push_to_oss.sh
*.zip